/* Additional style requirements
The entire card has a box shadow. COMPLETE
The card title has a solid 1px border that is lightblue. COMPLETE
The title and product image are centered. COMPLETE
Notice that the text for the description in the image is justified. COMPLETE
The text for the product specification details and pricing details is bold. COMPLETE
The availability element extends the full width of the card, with a dark grey background and yellow text. COMPLETE */

.products { 
  display: flex;
  flex-wrap: wrap;
  margin: 10px 100px;
}

.card {
  box-shadow: 10px 10px 5px gray;
  border: 1px solid lightblue;
  margin: 10px;
  padding: 10px;
  width: 250px;
  min-width: 350px;
  flex: 1 25%;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  border: 1px solid lightblue;
  border-style: dotted;
  text-align: center;
  margin: -10px;
  padding: 10px;
}

p {
  font-weight: bold;
  margin: auto;
  font-size: small;
  margin-left: 10px;
}

/*.img {
  text-align: center;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}*/

.images {
  position: relative;
}

.img1 {
  text-align: center;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

/*.img1 {
  text-align: center;
  max-width: 50%; 
  height: auto;
  padding: 20px 70px 20px 70px;
  position: relative;
  object-fit: cover;
}*/

.img2 {
  text-align: center;
  /* max-width: 150%; */
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 10px;
  position: absolute;
  top: 5%;
  left: -20%;
}

.descr {
  text-align: justify;
  font-weight: normal;
  font-size: medium;
  margin: auto;
}

.avail {
  background-color: darkgray;
  color: yellow;
  padding: 2px;
  margin: 12px -10px 12px -10px;
  font-size: medium;
}

footer {
  margin: 0px -10px 12px -10px;
  font-size: smaller;
}
