/* Additional style requirements
The entire card has a box shadow. COMPLETE
The card title has a solid 1px border that is lightblue. COMPLETE
The title and product image are centered. COMPLETE
Notice that the text for the description in the image is justified. COMPLETE
The text for the product specification details and pricing details is bold. COMPLETE
The availability element extends the full width of the card, with a dark grey background and yellow text. COMPLETE */

body {
  background-color: #C5CAE9;
}

.products { 
  display: flex;
  flex-wrap: wrap;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  max-width: 1400px;
}

.card {
  box-shadow: 10px 10px 5px gray;
  border: 1px solid lightblue;
  margin: 10px;
  padding: 10px;
  min-width: 350px;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}

/* max of 3 cards per row */
@media(min-width: 350px) {
  .card {
    flex: 0 25%;
    flex-grow: 1;
  }
}

h2 {
  border: 1px solid lightblue;
  height: 50px;
  border-style: dotted;
  text-align: center;
  margin: -10px;
  padding: 10px;
  color: #303F9F;
}

p {
  font-weight: bold;
  margin: auto;
  font-size: small;
  margin-left: 10px;
}

.images {
  position: relative;
}

/* Centers the product image */
.img1 {
  display: block;
  margin: 20px auto 10px auto;
  width: 60%;
  height: 200px;
  object-fit: contain; /*prevents stretch*/
}

/* SOLD OUT banner*/
.img2 {
  display: block;
  margin: 20px auto 10px auto;
  width: 100%;
  height: 200px;
  object-fit: contain; /*prevents stretch*/
  position: absolute;
  top: -20px;
}

.descr {
  text-align: justify;
  font-weight: normal;
  font-size: medium;
  margin: auto;
  padding-top: 20px;
  height: 100px;
}

.avail {
  background-color: darkgray;
  color: yellow;
  padding: 2px;
  margin: 12px -10px 12px -10px;
  font-size: medium;
}

.unavail {
  background-color: darkgray;
  color: red;
  padding: 2px;
  margin: 12px -10px 12px -10px;
  font-size: medium;
}

footer {
  margin: 0px -10px 12px -10px;
  font-size: smaller;
}
